section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}
  
h3 {
    font-size: 24px;
    color: gray;
    margin-bottom: 15px;
}
  
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(216, 208, 208);
}

p span{
    color: gray;
    font-size: 15px;
 
}
  
.linkBack {
    color: rgb(216, 208, 208);
    background-color:rgb(84, 84, 84) ;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    margin-top: 15px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 150px;
    justify-content: center;
}
  
.linkBack:hover {
    background-color: rgb(58, 57, 57)
}