body{
    font-family:Helvetica;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(168, 166, 163);
    box-shadow: -10px -10px 20px #615D76;
    background-color: #7F7C9B;
}

section h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #262548;
}
  
h3 {
    font-size: 26px;
    font-weight: 800;
    color: #262548;
    margin-bottom: 15px;
}
  
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(216, 208, 208);
    margin: 5px;
    text-align: center;
  
}

p span{
    color: rgb(194, 193, 192);
    font-size: 15px;
 
}
  
.linkBack {
    color: white;
    background-color: rgb(255, 175, 14) ;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 130px;
    justify-content: center;

}
  
.linkBack:hover {
    background-color:rgb(236, 159, 5)
}


@media screen and (max-width: 550px){
    section {
        margin: 20px;
        margin-top: 70px;
        padding: 20px;
        max-width: 250px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(168, 166, 163);
        box-shadow: -10px -10px 20px #615D76;
        background-color: #7F7C9B;
    }
  }