body, html{
  padding-top: 100px;
}

h1{
  color: #a9a7b4;;
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    background-color: #7F7C9B;
    border: 2px solid rgb(168, 166, 163);
    box-shadow: -40px -30px 20px #1b1a1a;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#c1c0c7;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: rgb(255, 175, 14);
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(236, 159, 5);
  }


  @media screen and (max-width: 550px){
    form {
      max-width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #7F7C9B;
    }
  }