body {
  background-color: #262548;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.work-menu .menu-overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.912);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav.show .menu-overlay {
  visibility: visible;
  opacity: 1;
}

.mainIcon{
  width: 700px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  right: 60%;
  top: 10%;
  z-index: 1;
  bottom: 0
}

nav{
  height: 70px;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 20px 5px;
  position: fixed;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  top: 0px;
  z-index: 3;
}


.close-nav-menu{
 visibility:hidden;
 width: 0;
 height: 0;
}

.iconBook {
  width: 200px;
  padding: 10px;
}

.iconBook2{
  width: 110px;
  height: 50px;
  padding: 15px;
  margin-left: 20px;
  visibility: hidden;
}

nav a {
    font-size: 25px;
    font-weight: bold;
    color: #525272;
    margin: 30px;
    text-decoration: none;
} 

.active {
    color: #262633;
}

.menuButton{
    display: none;
}  


@media screen and (max-width: 1090px)and (min-width: 970px){
  .iconBook {
    width: 150px;
    padding: 10px;
  }

  nav a{
    font-size: 20px;
  }
}


@media screen and (max-width: 970px) and (min-width: 870px){

  nav a{
    font-size: 20px;
  }
  .iconBook {
    width: 100px;
    padding: 10px;
  }

}

@media screen and (max-width: 870px) {
  body{
    font-family:Helvetica;
  }

  .iconBook {
    visibility: hidden;
  }

  .iconBook2{
    width: 110px;
    height: 50px;
    padding: 15px;
    margin-left: 20px;
    visibility:visible;
  }

  .work-menu {
    position: fixed;
    top: 70px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: white;
  }


  .work-menu.open {
    right: 0;
    transform: scale(1);
    height: 350px;
    width: 400px;
    min-width: 150px;
    max-height: 350px;
    min-height: 150px;
  }


  .nav-menu{
    /* background-color: #ffffff; */
 
  }

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 20px;
    color: black;
    width: 100%;
    border-bottom: 1px solid #525272;
    transition: transform 0.5s ease;
  }

  .menu a:hover {
    transform: scale(1.2);
  }

  .menu a:first-child {
    border-top: 1px solid #525272;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu-button {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px; 
    background-color: #ffffff; 
    z-index: 99;
    transform: translateX(0%);
    transition: transform 0.8s ease;
  }
 

  .menuButton{
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(255, 175, 14) ;
    border: none;
    background-color: transparent;
    font-size: 40px;
    z-index: 100;
    position:absolute;
    top: 20px;
    right: 30px;
    transition: transform 0.2s ease;
} 

  .menuButton:hover {
    transform: scale(1.2);
  }

.hide{
  display: none;
  height: 0px;
  overflow: hidden;
  transition:all 0.8s ease ;
}

nav.nav.show{
  display: flex;
  height: 100%;
  transition: all 0.1s linear;
  width: 50%;
  background-color: rgb(255, 175, 14);
  border: 2px solid #262633;
  transition: all 0.3s ease;
  transform: translateX(0);
}

.menu-overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.773);
  height: 100%;
  width: 100%;
  padding: 0;
}

.nav.show .menu-overlay {
  visibility: visible;
  opacity: 1;
}

  }

 

